## Analysis Script

In [7]:
# libraries
import pandas as pd
import os

data_path = os.getcwd()
print(data_path)

# Load data from file
aw = pd.read_csv("Datensatz/Alterswohnung/data/stzh.poi_alterswohnung_view.csv") # load from file
bn = pd.read_csv("Datensatz/Bevölkerung nach Nationalität und Stadtquartier/BEV336OD3361.csv") # load from file
ba = pd.read_csv("Datensatz/Bevölkerung nach Stadtquartier, Herkunft, Geschlecht und Alter/BEV390OD3903.csv") # load from file
bo = pd.read_csv("Datensatz/Bodennutzung/BAU612OD6120.csv") # load from file

/Users/Zita/switchdrive/ageing_zurich/ageing_zurich

In [4]:
aw.head()

,adr_inter,adresse,adrzus_int,behindertenparkplatz,bemerkung,ccmail,da,datum,datum_cms,dep,...,suchen,tel,tel2,www,zahlungsmittel_internet,zahlungsmittel_schalter,zahlungsmittel_telefon,zvv_label,zvv_link,geometry
0,Werkgasse 6,Seefeldstrasse 50,Seefeldstrasse 50 + 52,NaN,NaN,NaN,Stiftung Alterswohnungen der Stadt Zürich,202003161721,NaN,Gesundheits- und Umweltdepartement (GUD),...,Alterswohnungen,NaN,NaN,http://www.wohnenab60.ch/,NULL;NULL;NULL,NULL;NULL;NULL,NULL;NULL;NULL,Seefeldstrasse 50,https://online.fahrplan.zvv.ch/bin/query.exe/d...,POINT (2683960 1246350.9)
1,Glattalstrasse 1 + 3 + 7,NaN,NaN,NaN,NaN,NaN,Stiftung Alterswohnungen der Stadt Zürich,202003161721,NaN,Gesundheits- und Umweltdepartement (GUD),...,Alterswohnungen,NaN,NaN,http://www.wohnenab60.ch/,NULL;NULL;NULL,NULL;NULL;NULL,NULL;NULL;NULL,"Zürich, Seebach",https://online.fahrplan.zvv.ch/bin/query.exe/d...,POINT (2683862 1253003.9)
2,NaN,Traktorenstrasse,NaN,NaN,NaN,NaN,Stiftung Alterswohnungen der Stadt Zürich,202003161721,NaN,Gesundheits- und Umweltdepartement (GUD),...,Alterswohnungen,NaN,NaN,http://www.wohnenab60.ch/koeschenrueti_saw,NULL;NULL;NULL,NULL;NULL;NULL,NULL;NULL;NULL,NaN,NaN,POINT (2682913 1253723.9)
3,NaN,Oberdorfstrasse 36,NaN,NaN,NaN,NaN,Stiftung Alterswohnungen der Stadt Zürich,202003161721,NaN,Gesundheits- und Umweltdepartement (GUD),...,Alterswohnungen,NaN,NaN,http://www.wohnenab60.ch/,NaN,NaN,NaN,Oberdorfstrasse 36,https://online.fahrplan.zvv.ch/bin/query.exe/d...,POINT (2683528 1247120.9)
4,NaN,Hegianwandweg 22 + 24,NaN,NaN,NaN,NaN,Stiftung Alterswohnungen der Stadt Zürich,202003161721,NaN,Gesundheits- und Umweltdepartement (GUD),...,Alterswohnungen,NaN,NaN,http://www.wohnenab60.ch/,NaN,NaN,NaN,Hegianwandweg 22 + 24,https://online.fahrplan.zvv.ch/bin/query.exe/d...,POINT (2681156 1245839.9)

In [8]:
bn.head()

,StichtagDatJahr,QuarSort,QuarCd,QuarLang,NationHistSort,NationHistLang,NationSort,NationLang,RegionSort,RegionLang,KontinentSort,KontinentLang,AnzBestWir
0,1993,11,11,Rathaus,8100,Schweiz,8100,Schweiz,13,Zentraleuropa,1,Europa,2487
1,1993,11,11,Rathaus,8205,Bulgarien,8205,Bulgarien,17,Südosteuropa,1,Europa,1
2,1993,11,11,Rathaus,8206,Dänemark,8206,Dänemark,11,Nordeuropa,1,Europa,2
3,1993,11,11,Rathaus,8207,Deutschland,8207,Deutschland,13,Zentraleuropa,1,Europa,96
4,1993,11,11,Rathaus,8211,Finnland,8211,Finnland,11,Nordeuropa,1,Europa,2

In [9]:
ba.head()

,StichtagDatJahr,QuarSort,QuarCd,QuarLang,AlterVSort,AlterVCd,AlterVKurz,AlterV05Sort,AlterV05Kurz,HerkunftLang,HerkunftCd,HerkunftSort,SexCd,SexKurz,AnzBestWir
0,1993,11,11,Rathaus,0,0,0,1,0-4,Schweizer/in,1,1,1,M,11
1,1993,11,11,Rathaus,0,0,0,1,0-4,Schweizer/in,1,1,2,W,8
2,1993,11,11,Rathaus,0,0,0,1,0-4,Ausländer/in,2,2,1,M,1
3,1993,11,11,Rathaus,0,0,0,1,0-4,Ausländer/in,2,2,2,W,6
4,1993,11,11,Rathaus,1,1,1,1,0-4,Schweizer/in,1,1,1,M,11

In [10]:
bo.head()

,StichtagDatJahr,QuarSort,QuarLang,BodenbedeckungsartLevel1Sort,BodenbedeckungsartLevel1Lang,BodenbedeckungsartLevel2Sort,BodenbedeckungsartLevel2Lang,BodenbedeckungsartLevel3Sort,BodenbedeckungsartLevel3Lang,BodenbedeckungsartLevel4Sort,BodenbedeckungsartLevel4Lang,EigentuemerLevel1Sort,EigentuemerLevel1Lang,EigentuemerLevel2Sort,EigentuemerLevel2Lang,EigentuemerLevel3Sort,EigentuemerLevel3Lang,EigentuemerLevel4Sort,EigentuemerLevel4Lang,Flaeche
0,2009,11,Rathaus,110101,Gebäude öffentlich,1101,Gebäude,11,Gebäude,1,Landfläche ohne Wald,110101,Einzelperson,1101,Einzelperson,110,Natürliche Personen,1,Privates Eigentum,0.4483
1,2009,11,Rathaus,110101,Gebäude öffentlich,1101,Gebäude,11,Gebäude,1,Landfläche ohne Wald,110201,Erbengemeinschaft,1102,Erbengemeinschaft,110,Natürliche Personen,1,Privates Eigentum,0.1171
2,2009,11,Rathaus,110101,Gebäude öffentlich,1101,Gebäude,11,Gebäude,1,Landfläche ohne Wald,110301,Mehrere Natürliche Personen,1103,Mehrere Natürliche Personen,110,Natürliche Personen,1,Privates Eigentum,0.1154
3,2009,11,Rathaus,110101,Gebäude öffentlich,1101,Gebäude,11,Gebäude,1,Landfläche ohne Wald,120401,Stockwerkeigentum,1204,Stockwerkeigentum,120,Stockwerkeigentum,1,Privates Eigentum,0.1343
4,2009,11,Rathaus,110101,Gebäude öffentlich,1101,Gebäude,11,Gebäude,1,Landfläche ohne Wald,140101,Handels- und Produktivgenossenschaft,1401,Genossenschaft,140,Genossenschaften,1,Privates Eigentum,0.0185

In [22]:
bn_2020 = bn[(bn.StichtagDatJahr == 2020)]
bn_2020.head()

bn_2020[["QuarCd", "NationLang"]].groupby("QuarCd").count()

        NationLang
QuarCd
11              79
12              42
13              52
14              52
21             121
23             102
24              98
31             116
33             107
34             118
41              84
42             116
44             109
51             112
52             100
61             127
63              96
71              90
72              98
73              94
74             103
81              82
82              88
83              95
91             118
92             131
101            124
102            121
111            124
115            128
119            126
121            102
122            120
123            124

In [21]:
ba_2020 = ba[(ba.StichtagDatJahr == 2020)]
ba_2020.head()

#ba_2020.groupby('QuarCd')['AlterVKurz'].describe()
ba_2020[["QuarCd", "AlterVKurz"]].groupby("QuarCd").describe()

       AlterVKurz
            count       mean        std  min    25%   50%    75%    max
QuarCd
11          336.0  44.654762  25.794362  0.0  23.00  44.0  65.00   98.0
12          258.0  47.112403  25.695897  0.0  26.25  44.5  65.75  102.0
13          317.0  48.416404  26.316178  0.0  28.00  48.0  69.00  100.0
14          287.0  42.519164  24.204089  0.0  23.50  42.0  61.00   98.0
21          392.0  48.617347  28.522554  0.0  24.00  48.5  73.00  102.0
23          374.0  46.719251  27.743440  0.0  23.00  46.0  70.00  103.0
24          381.0  47.414698  27.994665  0.0  23.00  47.0  71.00  102.0
31          383.0  47.582245  28.033878  0.0  23.50  47.0  71.00  106.0
33          386.0  47.961140  28.247442  0.0  24.00  48.0  72.00  103.0
34          394.0  48.901015  28.726540  0.0  24.00  49.0  73.00  107.0
41          357.0  46.142857  27.007267  0.0  24.00  46.0  68.00  102.0
42          370.0  46.367568  27.106335  0.0  23.00  46.0  69.00   97.0
44          385.0  47.794805  28.105771  0.0  24.00  48.0  72.00  102.0
51          375.0  46.704000  27.288915  0.0  23.00  47.0  70.00   97.0
52          335.0  42.334328  25.203041  0.0  21.00  42.0  63.00   94.0
61          389.0  48.231362  28.284963  0.0  24.00  48.0  72.00  100.0
63          381.0  47.364829  27.934052  0.0  23.00  47.0  71.00  102.0
71          380.0  47.165789  27.716362  0.0  23.00  47.0  71.00   98.0
72          381.0  47.312336  27.839097  0.0  23.00  47.0  71.00  101.0
73          382.0  47.612565  28.173565  0.0  23.25  47.0  71.00  104.0
74          391.0  48.603581  28.605879  0.0  24.00  48.0  73.00  102.0
81          367.0  45.790191  26.920691  0.0  23.00  46.0  68.50  101.0
82          374.0  46.703209  27.739407  0.0  23.00  46.0  69.75  102.0
83          375.0  46.992000  27.778005  0.0  23.00  47.0  70.50  102.0
91          391.0  48.516624  28.494698  0.0  24.00  48.0  73.00  104.0
92          389.0  48.203085  28.240542  0.0  24.00  48.0  72.00  100.0
101         392.0  48.653061  28.582130  0.0  24.00  48.5  73.00  102.0
102         393.0  48.707379  28.539685  0.0  24.00  49.0  73.00  103.0
111         391.0  48.470588  28.416202  0.0  24.00  48.0  73.00  104.0
115         388.0  48.144330  28.279334  0.0  24.00  48.0  72.00  101.0
119         383.0  47.469974  27.837665  0.0  23.50  47.0  71.00  100.0
121         374.0  46.457219  27.364524  0.0  23.00  46.0  69.75  100.0
122         382.0  47.437173  27.927446  0.0  23.25  47.0  71.00  105.0
123         387.0  47.989664  28.163749  0.0  24.00  48.0  72.00  105.0